/* Define CSS custom properties for colors */
:root {
  --color-1: rgba(0, 0, 0, 0);
  --color-2: rgba(0, 0, 0, 1);
  --color-3: rgba(0, 128, 128, 1);
  --color-4: rgba(107, 107, 107, 1);
  --color-5: rgba(111, 241, 234, 1);
  --color-6: rgba(114, 231, 224, 1);
  --color-7: rgba(115, 232, 226, 1);
  --color-8: rgba(115, 233, 226, 1);
  --color-9: rgba(126, 126, 126, 1);
  --color-10: rgba(128, 255, 156, 1);
  /* ... */
}